<md-dialog aria-label="notification" class="notification-dialog"
  ng-class="{'expanded-notification-dialog': expanded}" ng-cloak>
  <div class="notification-header">
    <div class="notification-image circle">

    </div>
    <div class="notification-text">
      <span class="notification-subject">Notification From</span>
      <span class="notification-category notification-from">Dr. Bruce Banner</span>
    </div>
    <div class="close-notification">
      <md-button class="md-icon-button close-btn" ng-click="close()">
        <i class="fa fa-times"></i>
      </md-button>
      <md-button class="md-icon-button close-btn" ng-click="toggleWidth()">
        <i class="fa fa-expand"></i>
      </md-button>
    </div>
  </div>
  <div class="notification-content-box">
    <div class="notification-content">
      <div class="notification-content-text">
        Hi <span class="capitalize">{{userDetails.name}}</span>,
        <br><br>
        Here is the meal I mentioned during your visit.
      </div>
      <div class="notification-content-image">

      </div>
      <div class="notification-content-footer">
        <span class="notification-dinner">
          Dinner
        </span>
        <span class="notification-dinner-type">
          Leafy Veg Salad
        </span>
      </div>
    </div>
    <div class="notification-content-extra">
      <div class="notification-content-text">
        Detailed Description:
      </div>
      <div class="notification-content-footer">
        <span>Calories: 429KCal</span>
        <span>Fat: 40g</span>
        <span>Protien: 10g</span>
        <span>Carbohydrates: 240g</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>

    </div>
  </div>
  <div class="notification-footer">
    <md-button class="md-primary md-raised footer-btn" ng-click="addToMenu()">Add it to My Diet</md-button>
  </div>
  <!-- <form>
    <md-toolbar class="dialog-toolbar">
      <div class="md-toolbar-tools">
        <h1 class="font-600"> Notification Details</h1>
      </div>
    </md-toolbar>
	<div layout="row"  class="padding-ten">
		<div layout="column"  class="padding-ten" flex>
			<div flex="10" layout="row">
				<span class="font-600" flex="30">Name</span>
				<span class="font-600" flex="10"></span>
				<span class="font-600" flex="30">Tony Wayne </span>
			</div>
			<div flex="5"></div>
			<div flex="10" layout="row">
				<span class="font-600" flex="30">Type</span>
				<span class="font-600" flex="10"></span>
				<span class="font-600" flex="30">Type A </span>
			</div>
			<div flex="5"></div>
			<div flex="10" layout="row">
				<span class="font-600" flex="30">Doctor</span>
				<span class="font-600" flex="10"></span>
				<span class="font-600" flex="30">Barry Allen </span>
			</div>
			<div flex="5"></div>
			<div flex="10" layout="row">
				<span class="font-600" flex="30">Description</span>
				<span class="font-600" flex="10"></span>
				<span class="font-600" flex="30">Serious </span>
			</div>
		</div>
		<div layout="column" flex>
		<span class="font-600">Medication:</span>
		<ol>
			<li>
				<div layout="column">
					<div flex="10" layout="row">
  					<span class="font-600" flex="30">Name</span>
  					<span class="font-600" flex="10"></span>
  					<span class="font-600" flex="50">Anti Depression</span>
					</div>
					<div flex="10" layout="row">
  					<span class="font-600" flex="30">Dosage</span>
    				<span class="font-600" flex="10"></span>
    				<span class="font-600" flex="50">2 Pills PerDay </span>
					</div>
				</div>
			</li>
			<li>
        <div layout="column">
					<div flex="10" layout="row">
  					<span class="font-600" flex="30">Name</span>
  					<span class="font-600" flex="10"></span>
  					<span class="font-600" flex="50">Anti Depression</span>
					</div>
					<div flex="10" layout="row">
  					<span class="font-600" flex="30">Dosage</span>
    				<span class="font-600" flex="10"></span>
    				<span class="font-600" flex="50">2 Pills PerDay </span>
					</div>
				</div>
			</li>
		</ol>
		</div>
	</div>
  </form> -->
</md-dialog>
